{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if app.user is null %}
            <h1>Bonjour !</h1>
            <ul>S'inscrire
                <li>    
                    <a href="{{path('register',{"type":"Patient"})}}">Patient</a>
                </li>
                <li>
                    <a href="{{path('register',{"type":"Medecin"})}}">Medecin</a>
                </li>
            </ul> 
            <a href="{{path('login')}}">Se connecter</a>
        {% else %}
            <h1>Bonjour {{app.user.prenom}} {{ app.user.nom }}! ✅</h1>
            <a href="/logout">Se deconnecter</a>
            {% if app.user.roles[0] == "ROLE_PATIENT" %}
                {{ render(controller(
                    'App\\Controller\\SearchController::searchBar'
                )) }}
                <h1>Vos rendez-vous</h1>
                {{ render(controller(
                        'App\\Controller\\CalendrierController::index',{'patientId':app.user.id}
                )) }}

            {% endif %}
            {% if app.user.roles[0] == "ROLE_MEDECIN" %}
                <h1>Vos rendez-vous</h1>
                {{ render(controller(
                        'App\\Controller\\CalendrierController::index',{'medecinId':app.user.id}
                )) }}
            {% endif %}
        {% endif %}
</div>
{% endblock %}
