{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
<div class="section shadow mb-5 bg-body rounded d-flex aligns-items-center justify-content-center">

	<div class="col">
		<h1>Inscription</h1>

		<div class="form-body">
			<div class="row">
				<div class="form-holder">
					<div class="form-content">
						<div class="form-items">

							{{ form_start(registrationForm) }}
							<div class="col-md-12">
								{{ form_row(registrationForm.email, {
                                            label: 'Email :'
                                        }) }}

							</div>
							<div class="col-md-12">
								{{ form_row(registrationForm.plainPassword, {
                                            label: 'Mot de passe :'
                                        }) }}</div>
							<div class="col-md-12">
								{{ form_row(registrationForm.nom,{
                                            label:'Nom :'
                                        }) }}
							</div>
							{% if type=="Patient" %}
								{{ form_row(registrationForm.nom_naissance,{
                                            label: 'Nom de naissance :'
                                        }) }}
							{% endif %}
							{{ form_row(registrationForm.prenom,{
                                        label:'Prénom :'
                                    }) }}
							{{ form_row(registrationForm.sexe,{
                                        label:'Sexe :'
                                    }) }}

							{{ form_row(registrationForm.adresse,{
                                        label:'Adresse :'
                                    }) }}
							{{ form_row(registrationForm.cp,{
                                        label:'Code postal :'
                                    }) }}
							{{ form_row(registrationForm.ville,{
                                        label: 'Ville :'
                                    }) }}
							{{ form_row(registrationForm.telephone,{
                                        label: 'Téléphone :'
                                    })}}

							{% if type == "Patient" %}
								{{ form_row(registrationForm.date_naissance,{
                                            label: 'Date de naissance :'
                                        }) }}
							{% else %}
								{{form_row(registrationForm.description,{
                                            label:'Description :'
                                        })}}
								{{ form_row(registrationForm.carte_vitale,{
                                            label: 'Carte vitale :'
                                        }) }}
								{{ form_row(registrationForm.laSpecialite,{
                                            label: 'La spécialité :'
                                        }) }}

							{% endif %}
							{{ form_row(registrationForm.agreeTerms,{
                                        label :'J\'accepte les termes : '
                                    }) }}

									<button type="submit" class="btn btn-primary">Register</button>
									{{ form_end(registrationForm) }}


									<div class="col-md-12"></div>


									<div class="col-md-12"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
{% endblock %}
