{% extends 'base.html.twig' %}

{% block title %}{{(medecin.sexe == 1) ? 'M. ' :'Mme. ' }}{{medecin.nom}} {{medecin.prenom}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="section shadow p-3 mb-5 bg-body rounded">
    <h2 class="text-center">Page de {{(medecin.sexe == 1) ? 'M. ' :'Mme. ' }}{{medecin.nom}} {{medecin.prenom}}</h2>
    <div id="calendrier"></div>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                allDaySlot: false,
                    headerToolbar: {
                        start: 'prev next today',
                        end: 'dayGridMonth timeGridWeek timeGridDay',
                    },
                    //Changement des textes des boutons en français
                    buttonText: {
                        dayGridMonth:'Mois',
                        timeGridWeek:'Semaine',
                        timeGridDay:'Jour',
                        today:'Aujourd\'hui',
                    },
                events:{{rdv|raw}}

            })
            calendar.render()
        }
    </script>
    {{ render(controller(
        'App\\Controller\\PrendreRendezVousController::index',{'medecinId':medecin.id}
    )) }}
</div>
{% endblock %}
